.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.header-checkout {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    width: 3rem;
    margin: 0 0 0 0.5rem;
}

.header-checkout i {
    font-size: 2.3rem;
}

.header-alert {
    color: #33b13a;
    font-size: clamp(1.2rem, 2.5vw, 1.4rem);
    margin-left: .5rem;
}

.header a {
    text-decoration: none;
    color: #33b1ff;
}